<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        @Html.ActionLink("GoWikiSearch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div>@Html.Partial("_SearchBar")</div>

    </nav>
</div>