@model IEnumerable<gowikisearch.Models.WikipediaPageTitle>
<div>
    <h1>@ViewBag.DatabaseName.DataSource</h1>
    @if (Model != null)
    {
        foreach (var a in Model)
        {
            <p>@a.Title</p>
        }
    }

</div>
