@{
    Layout = null;
}
@model IEnumerable<gowikisearch.Models.WikipediaPageTitle>
<div class="p-2">
    <ul class="list-group">
        @if (Model.ToList().Count > 0)
        {
            foreach (var pageTitle in Model.ToList())
            {
                <li class="list-group-item" onmouseover="this.className += ' active';" onmouseout="this.className = 'list-group-item'"
                    onclick="changeSearchBoxValue('@pageTitle.Title')">
                    @pageTitle.Title
                </li>
            }
        }
        else
        {
            <li class="list-group-item">No Suggestions...</li>
        }
    </ul>
</div>
