@{
    ViewBag.Title = "Home Page";
}

<div class="p-2">
    <div class="jumbotron">
        <h1>GoWikiSearch</h1>
        <p class="lead">GoWikiSearch is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    </div>
    <div class="form-group">
        <form method="get" action="@Url.Action("Index", "Search")" class="form-inline">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control mr-md-3" maxlength="240" aria-label="Search GoWiki" aria-describedby="inputGroup-sizing-lg"
                       name="query" placeholder="Search" value="@ViewBag.query" autocomplete="off" required>
            </div>
            <button type="submit" class="btn btn-outline-success my-lg-3 my-sm-0"><h5>Go</h5></button>
        </form>
    </div>
</div>


