@{
    ViewBag.Title = "Home Page";
}

    <div>
        <br /><br />
        <div class="container">
            <div class="jumbotron text-center bg-transparent">
                <h1>GoWikiSearch</h1>
                <p class="lead">GoWikiSearch is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                <p>Hover to the search icon below to begin your search</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <form method="get" action="@Url.Action("Index", "Search")">
                    <div class="container h-100">
                        <div class="d-flex justify-content-xl-center h-100">
                            <div class="searchbar">
                                <input class="search_input" type="text" name="query" maxlength="240" placeholder="Search Keywords e.g. Thanos Snap" value="@ViewBag.query" autocomplete="off" required>
                                <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
            
        


    </div>


